body {
  font-family: "Microsoft JhengHei", sans-serif;
  background-image: linear-gradient(
    270deg,
    #ff8c00,
    #ff0,
    #00ff00,
    #00ffff,
    #ff00ff,
    #ff8c00,
    #ff0d8e,
    #2776ff
  );
  background-size: 1000% 100%;
  animation: rainbowMove 10s linear infinite;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #ffffff;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.rainbow-text {
  font-size: 32px;
  font-weight: bold;
  background-image: linear-gradient(
    270deg,
    #ff8c00,
    #ff0,
    #00ff00,
    #00ffff,
    #ff00ff,
    #ff8c00,
    #ff0d8e,
    #2776ff
  );
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbowMove 10s linear infinite;
}

@keyframes rainbowMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

nav {
  margin-top: 20px;
}

nav a {
  display: inline-block;
  margin: 0 15px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: #000000;
  border-radius: 10px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #6f0194;
}

main {
  padding: 20px;
}

.box {
  border: 2px solid #000000;
  border-radius: 12px;
  margin: 20px auto;
  padding: 15px;
  width: 80%;
  max-width: 600px;
  background-color: rgb(19, 255, 247);
  box-shadow: 2px 2px 8px rgb(244, 241, 241);
}

.icon {
  width: 40px;
  height: auto;
  margin-left: 10px;
  vertical-align: middle;
}

.large-text {
  font-size: 20px;
}

.welcome-character {
  width: 80px;
  animation: wave 1.5s infinite ease-in-out;
}
.school-logo {
  width: 80px;
  height: auto;
  vertical-align: middle;
  margin-left: 10px;
}
@keyframes wave {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}
